.contactFormWrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea:focus, input:focus{
  outline: none;
}

.contactForm {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#messageArea {
  background-color: #026d0e;
  margin: 10px 0 20px 0;
  height: 140px;
  border: none;
  resize: none;
  color: white;
  padding: 5px 5px 5px 5px;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.contactInputs {
  background-color: #026d0e;
  margin: 10px 0 10px 0;
  height: 30px;
  border: none;
  color: white;
  padding: 2px 5px 2px 5px;
  -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.contactInputs::placeholder {
  color: white;
  opacity: 0.5;
}

.contactInputs:focus {
  background-color: #00600b;
}

#messageArea::placeholder {
  color: white;
  opacity: 0.5;
}

#messageArea:focus {
  background-color: #00600b;
}

.contactForm input[type=submit] {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #026d0e;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  background: #026d0e;
	color: #fff;
	box-shadow: 0 6px #00560a;
  border-radius: 40px;
  padding: 25px 80px;
  text-align: center;
  margin: auto;
}

.contactForm input[type=submit]:hover {
	box-shadow: 0 4px #00560a;
	top: 2px;
}

.contactForm input[type=submit]:active {
	box-shadow: 0 0 #00560a;
	top: 6px;
}

#layoutContainer {
  display: flex;
  flex: 1;
}

#inputsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#contactMeText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#contactMeText p {
  color: white;
  font-size: 4vw;
  margin: 0;
  font-weight: bolder;
}
